<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Cursos <b>| UTEZ</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="views/instructores.html">Instructores</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipos de eventos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Presenciales</a>
                        <a class="dropdown-item" href="#">Remotos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mixtos</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <fieldset>
                    <legend>Formulario de Registro</legend>


                    <form action="http://127.0.0.1:5500/aweb.24.cursos/RecibirDatos" method="POST">
                        <ul style="list-style: none ;">
                            <li>
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre">
                            </li>
                            <li>
                                <label for="primerApellido">Primer Apellido</label>
                                <input type="text" name="primerApellido" id="primerApellido">
                            </li>
                            <li>
                                <label for="segundoApellido">Segundo Apellido</label>
                                <input type="text" name="segundoApellido" id="segundoApellido">
                            </li>
                            <br>
                            <li>
                                <label for="#">Tipo de Modalidad</label>
                                <br>

                                <input type="checkbox" id="presencial" value="Presencial" name="modalidad">
                                <label for="presencial">Presencial</label>

                                <input type="checkbox" id="remoto" value="Remotp" name="modalidad">
                                <label for="remoto">remoto</label>

                                <input type="checkbox" id="mixto" value="Mixto" name="modalidad">
                                <label for="mixto">Mixto</label>

                            </li>
                            <br>
                            <li>
                                <label for="#">SEXO</label>
                                <br>

                                <input type="radio" name="sexo" id="hombre" value="hombre">
                                <label for="hombre">Hombre</label>

                                <input type="radio" name="sexo" id="mujer" value="mujer">
                                <label for="mujer">Mujer</label>
                            </li>
                            <br>
                            <li>
                                <label for="curso">Curso</label>
                                <br>
                                <select name="curso" id="curso">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Creatividad y diseño</option>
                                    <option value="2">Database system</option>
                                    <option value="3">Apps Moviles con android</option>
                                    <option value="4">finanzas corporativas</option>
                                </select>
                            </li>
                            <br>
                            <li>
                                <label for="observaciones">Observaciones</label>
                                <br>
                                <textarea style="resize: none;" name="observaciones" id="observaciones" cols="60"
                                    rows="10"></textarea>
                            </li>
                            <br>
                            <li>
                                <input type="submit" value="Registrar" name="registrar" id="registrar">
                                <input type="reset" value="Cancelar" name="reset" id="reset">
                            </li>
                        </ul>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>